/* ipads 768*/
#i-right {
  width: 77% !important;
}
/* chua co giai phap */
#i-list-product div div {
  display: none;
}
#i-img {
  width: 85%;
}
#i-searchbox input {
  font-size: 10px;
}
.i-left-right {
  display: none !important;
}
.c-product-box{
  width: 200px !important;
}
.c-product-slide{
  height: 250px;
  width: 1500px;
}
#i-log{
  display: none;
}

#i-user a+div{
  display: none;
}
/* #i-user >div:hover >div{
  display: block;
} */

.footer-row{
  flex-flow: column wrap;
}
.flex-item_1,.flex-item_2{
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.footer-item__info{
  display: block;
}
.footer-item__link{
  display: block;
}

