/* mobile 480 */

#i-header img {
  display: none;
}
#i-right {
  /* width: 90% !important; */
  min-width: 90%;
}
#i-user {
  max-width: 20%;
}
#i-user a{
  padding: 0px;
}
.c-product-box{
  max-width: 23%;
  margin: 5px 0px;
  font-size: 0.5ch;
}
.c-product-slide{
  height: 150px !important;
}
/* .c-img-product+div{
  font-size: 0.5ch;
} */

#i-searchbox span{
  display: none;
}
#i-user >div:first-child:hover + div{
  display: none;
}
#i-img-box{
  max-height: 130px;
}
.c-content{
  width: 100%;
  margin: 0px;
}