/* mobile 480 */
#i-header img {
  display: none;
}
#i-right {
  /* width: 90% !important; */
  min-width: 90%;
}
#i-user {
  max-width: 20%;
}
.c-product-box{
  max-width: 160px;
}
.c-product-slide{
  height: 200px !important;
}
#i-searchbox span{
  display: none;
}
#i-user >div:first-child:hover + div{
  display: none;
}