*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/images/nen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 100%;
}
.layout_container{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}
.form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 15px;
}
.signin_form{
    padding: 0 32px;
}
.form-input{
    height: 50px;
    width: 100%;
    margin-bottom: 26px;
    padding: 0 10px;
    font-size: 1.4rem;
    border: 2px solid #537b35;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    outline: none;
}
.input-icon{
    position:absolute;
    cursor: pointer;
}
.signin-button{
    width: 100%;
}
.signin-button .btn{
    font-size: 1.5rem;
    margin-bottom: 12px;
    padding: 10px 65px;
    color: #fff;
    background-color: #537b35;
    border: none;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    outline: none;
    cursor: pointer;
}
.create-forgot{
    justify-self: space-between;
    font-size: 1.2rem;
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
}
.create-forgot label{
    position: relative;
}
.create-forgot span{
    position: absolute;
}
.create-forgot a{
    text-decoration: none;
    color: #000;
}
.create-forgot a:hover{
    color: #537b35;
}
.create-forgot .register{
    float: right;
}
hr {
    margin-bottom: 15px;
}
.form_socials{
    display: flex;
    justify-content: space-between;
}
.btn-icon{
    font-size: 1.2rem;
    padding: 10px 36px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-icon-facebook{
    background-color: #3a5a98;
    color: #fff;
}
.icon-facebook{
    color: #fff;
}
.form_socials span{
    margin-left: 12px;
}
.icon-google{
    color: #FF1A00;
}
.btn-icon-google{
    color: #606266;
    background-color: #fdfdfd;
}