* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  text-align: center;
  font: inherit;
  vertical-align: baseline;
  background-attachment: fixed;
  /* background-image: url("/assets/images/nen.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.layout_container {
  width: 100%;
  max-width: 480px;
  min-height: 455px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.logo_form {
  text-align: center;
  margin-bottom: 1.6rem;
}
.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 300;
}
.authen_form {
  padding: 0 32px;
}
button,
input {
  overflow: visible;
}
.form-input {
  height: 50px;
  width: 100%;
  margin-top: 22px;
  padding: 0 10px;
  font-size: 1.4rem;
  border: 2px solid #537b35;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
}
.input-icon {
  position: absolute;
  cursor: pointer;
}

.create-forgot {
  justify-self: space-between;
  font-size: 1rem;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 8px;
}

.create-forgot a {
  text-decoration: none;
  color: #fff;
}
.create-forgot a:hover {
  color: #537b35;
}
.create-forgot .register {
  float: right;
}
.login-button {
  width: 100%;
  white-space: nowrap;
  display: flex;
}
.login-button span {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login-button .btn {
  font-size: 1.5rem;
  margin-bottom: 35px;
  padding: 10px 138px;
  color: #fff;
  background-color: #537b35;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.btn1 {
  cursor: pointer;
}
.flex-hr {
  display: flex !important;
  align-items: center;
  justify-content: space-between !important;
  margin-bottom: 1rem;
}
.flex-fill {
  flex: 1 1 auto !important;
  margin: 0 !important;
}
hr {
  border: 1px solid #636363;
}
.form_socials {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.btn-icon {
  font-size: 1.2rem;
  padding: 10px 31px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
}
.btn-icon-facebook {
  background-color: #3a5a98;
}
.form_socials span {
  margin-left: 12px;
}
.btn-icon-google {
  background-color: #dd4b39;
}

.accept-condition {
  text-align: center;
  position: relative;
}
label.checkbox {
  display: block;
  text-align: left;
  margin-top: 6px;
  margin-bottom: 25px;
}
.checkbox > span {
  margin-left: 6px;
}
.accept-condition span {
  position: absolute;
}
.btn2 {
  cursor: not-allowed;
}
/*pc*/
@media (min-width: 1024px) {
  .layout_container {
    max-width: 475px;
  }
}
/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
  .logo_form {
    width: 232px;
    height: 56px;
  }
}
/*mobile*/
@media (max-width: 740px) {
  .layout_container {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: in;
    -moz-border-radius: in;
    -ms-border-radius: in;
    -o-border-radius: in;
  }
  .socials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
  }
  .login-button .btn {
    padding: 10px 65px;
  }
  .btn-icon,
  .btn,
  .logo_form img {
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
}
/*quên pass*/
#form-forget {
  padding: 45px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  background: transparent;
  width: 100%;
  height: 100%;
}
.forget {
  width: 70%;
  margin: 40px auto;
  text-align: center;
  padding: 40px;
  position: relative;
  background-color: #F9CB9C;
  line-height: 25px;
  color: #111;
  
}
/*nút x tắt form*/
#close {
  color: #fff;
  background: none;
}
button#close {
  overflow: visible;
  cursor: pointer;
  display: block;
  position: absolute;
  text-decoration: none;
  border: 0;
  left: 148px;
  top: 58px;
  font-size: 25px;
}
